body{
margin: 0;
}
h1{
    font-size: 60px;

}
h2{
    font-size: 50px;
    font-size: 50px;
    color: chartreuse;
}
h3{
    font-size: 40px;
    color: blue;
}
p{
    color: #ff0077;
    font-size: 30px;
}
.name_highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 500px;
}
.top-banner{
    border: 2px solid red;
    background-image: url(pic/bk-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( lightSalmon,tomato );
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 30px;
    
}
.dream-area{
    background-image: url(pic/bk-3.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experince{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}
.experince-area{
    background-image:url(pic/bk-4.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;

}
#full-stack{
    border-left: 10px solid;
    border-color: blue;
    border-image-slice: 10 ;
}
#baby-web{
    border-left: 10px solid;
    border-color: #ff0077;
    border-image-slice: 10 ;
}
footer p{
    text-align: center;

}
#experince-left{
    text-align: center;
}
#pweb-color{
    color: chartreuse;
}